parameters:
  level: 9
  tmpDir: '%currentWorkingDirectory%/.phpstan'
  paths:
    - src
    - tests
  fileExtensions:
    - php
  parallel:
    processTimeout: 60.0
    maximumNumberOfProcesses: 4
  ignoreErrors:
    - '#Unsafe access to private property App\\FunctionalTestCase#'
includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/temirkhann/generic/extension.neon
