{% extends "blog.template.twig" %}

{% block content %}
<div class="posts">
    {% for post in posts %}
        <div class="post-preview">
            <a class="preview-link" href="/blog/{{ post.slug }}">{{post.title}}</a>
            <div>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        fill="currentColor"
                        class="bi bi-calendar"
                        viewBox="0 0 16 16"
                >
                    <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                </svg>
                <span class="pub-date">{{ post.publishedAt|date('Y-m-d') }}</span>
            </div>
            <div class="preview">{{ post.preview }}</div>
        </div>
    {% endfor %}
    {% include 'component/_pagination.html.twig' with {pagination: posts.metadata} %}
</div>
{% endblock %}
