<script>
    function selectCommentForReply(commentGuid) {
        const commentForm = document.getElementById("comment-form");
        if (!commentForm) {
            return;
        }

        commentForm.getElementsByTagName("input").replyTo.value = commentGuid;
        const commentInput = commentForm.getElementsByTagName("textarea").comment;
        commentInput.scrollIntoView(true);

        commentInput.focus();
    }
</script>
<div class="comment">
    <p class="pub-date">{{comment.createdAt|date('j F Y')}}</p>
    <div class="comment-text">
        {{ comment.text }}
        <div>
            <button class="reply-button" onclick="selectCommentForReply('{{comment.guid}}')">reply</button>
        </div>
    </div>
    {% for reply in comment.replies %}
        {% include 'component/_comment.html.twig' with { comment: reply} %}
    {% endfor %}
</div>
