<nav class="pagination">
    <ul>
        {% if pagination.page > 1 %}
        <li>
            <a href="{{ path(route, {page: pagination.page - 1}) }}" title="Previous page" class="page-link left">&laquo; Newer</a>
        </li>
        {% endif %}
        {% if pagination.nextPage %}
            <li>
                <a href="{{ path(route, {page: pagination.nextPage}) }}" title="Next page" class="page-link right">
                    Older &raquo;
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
