html {
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* || header */

#main-menu ul li a svg {
  vertical-align: baseline;
}

/* || content */

main {
  width:99%;
  margin: 5px auto;
}

.post-preview {
  border-bottom: 1px dashed lightgray;
  margin-top: 1rem;
}

.preview p {
  margin: 0;
}

.preview-link {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.pub-date {
  color: gray;
  margin:0 0 0 2px;
  font-size: 0.8rem;
}

.tags a {
  display: inline;
  color: gray;
  text-decoration: none;
  font-size: 0.6rem;
}

#disclaimer p {
  margin: 0;
  text-align: center;
}

#disclaimer p a:visited {
  color: blue;
}

#disclaimer {
  border-top: 1px solid lightgrey;
  color: gray;
  font-style: italic;
}

.comment .comment:not(:first-child){
  padding: 0 1rem;
  border-left: 1px dashed darkgray;
}

.comment-text {
  background-color: RGBA(100,200, 100, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
}

.pagination ul {
  margin: 1rem 0;
}

/* || markdown */
pre {
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: black;
  border-radius: 5px;
  overflow-x: scroll;
}

pre code {
  color: rgb(123, 214, 148);
}

blockquote {
  color: #505050;
  margin-left: 1rem;
  border-left: 3px solid #c0c0c0;
  padding: 0 0.5rem;
}

.post-preview.not-public {
  background-color: #f7f4f4;
}
