{% extends "blog.template.twig" %}

{% block head %}
    {% if post.content is contains_code %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>hljs.highlightAll()</script>
    {% endif %}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
        <h1>{{ post.title }}</h1>
        <div>
            <p class="pub-date">{{ post.publishedAt|date('j F Y') }}</p>
        </div>
        <div class="post">{{ post.content|markdown_to_html }}</div>
    {% include'component/_comments.html.twig' %}
    {% include 'component/_disclaimer.html' with { post: post } %}
{% endblock %}
